body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image{
  float: left;
  height: 200px;
  margin-right: 50px;
}

.left{
  float: left;
}

.right{
  float: right;
}
.card{
  width: 50%;
}
p{
  margin-right: 2rem;
}

@media (max-width: 700px){
  .logo{
    width: 100px;
  }
  .card{
    width: 100%;
    display: block;
    text-align: justify;
    margin-bottom: 30px;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
  .card img{
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
